<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script src="js/script.js"></script>
</head>

<div ng-constroller="painelCtrl" id="content-top">
	<div class="container-web">
		<div class="row container-web">
			<div class="col-6 col-md-6 titulo">
				<span>PAINEL DE CONTROLE</span>
			</div>
			<div class="col-6 col-md-6 user">
				<img src="images/user.png" class="iconMobile" />&nbsp;<span>{{usuario}}</span>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-5 col-md-2"
					style="text-align: center; cursor: pointer;">
					<button ng-disabled="corretor" ng-click="vincularCorretor()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Adicionar</p>
						<p style="height: 10px;">Corretor</p></button>
				</div>
				<div class="col-2 col-md-1"></div>
				<div class="col-5 col-md-2" style="text-align: center;">
					<button ng-disabled="corretor" ng-click="vincularSupervisor()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Definir</p>
						<p style="height: 10px;">Supervisor</p></button>
				</div>
				<div class="hidden col-md-2"></div>
				<div class="col-5 col-md-2" style="text-align: center;">
					<a ng-click="cadastrarSituacao()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Situação</p>
						<p style="height: 10px;">Clientes</p></a>
				</div>
				<div class="col-2 col-md-1"></div>
				<div class="col-5 col-md-2" style="text-align: center;">
					<a ng-click="cadastrarMidia()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
						</p>
						<p style="height:10px;">Cadastrar</p>
						<p style="height:10px;">Mídias</p></a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-5 col-md-2"
					style="text-align: center; cursor: pointer;">
					<a ng-click="resumoPorCorretor()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Resumo</p>
						<p style="height: 10px;">Corretor</p></a>
				</div>
				<div class="col-2 col-md-1"></div>
				<div class="col-5 col-md-2" style="text-align: center;">
					<button ng-disabled="corretor" ng-click="imprimirResumoImobiliaria(parametro.login.idEmpresa)" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Resumo</p>
						<p style="height: 10px;">Imobiliária</p></button>
				</div>
				<div class="hidden col-md-2"></div>
				<div class="col-5 col-md-2" style="text-align: center;">
					<a ng-click="resumoPorSituacao()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Resumo</p>
						<p style="height: 10px;">Situação</p></a>
				</div>
				<div class="col-2 col-md-1"></div>
				<div class="col-5 col-md-2" style="text-align: center;">
					<a ng-click="imprimirGrafico()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
						</p>
						<p style="height:10px;">Gráfico</p>
						<p style="height:10px;">Resultado</p></a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-5 col-md-2"
					style="text-align: center; cursor: pointer;">
					<a ng-click="captacao()" class="btn btn-dark"
						style="width: 100%; height: 100%;"><p style="height: 10px;">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
						</p>
						<p style="height: 10px;">Leadgen</p>
						<p style="height: 10px;">Agenciado</p></a>
				</div>
				<div class="col-2 col-md-1"></div>
			</div>
		</div>
	</div>
	<fullscreen-dialog ng-show="isVisible.loading">
	<div class="dialog">
		<div class="content">
			<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
		</div>
	</div>
	</fullscreen-dialog>
</div>